<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<mvc.renderPlaceholder>
				<processor type="SampleSite.MvcEditor.EditorPlaceholder, SampleSite" patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderPlaceholder.PerformRendering, Sitecore.Mvc']" />
			</mvc.renderPlaceholder>
		</pipelines>
	</sitecore>
</configuration>